:root {
	--font-family-main: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
		sans-serif;
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	// Цвета
	--bg-color: #1e1e1e;

	--primary-color: #efefef;
	--secondary-color: #b0b0b0;

	--bg-color-card: #cdcccc;

	// card
	--card-bg: #383737;

	// skeleton
	--skeleton-color: #9e9d9d;
	--skeleton-shadow: #474646;
}
