.productsListItem {
	width: 230px;
	cursor: pointer;
	transition: 0.3s;
	max-height: 320px;

	&:hover {
		opacity: 0.8;
		transform: scale(1.02);

		.date {
			display: block;
		}
	}
}

.imageWrapper {
	position: relative;
	width: 200px;
	height: 200px;
}

.like {
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;

	&:hover {
		opacity: 0.7;
	}

	& svg {
		width: 20px;
		height: 20px;
		fill: transparent;
		stroke: #333;
	}

	&.active {
		& svg {
			fill: #ffdf33;
		}
	}
}

.delete {
	position: absolute;
	padding: 5px;
	top: 0;
	left: 0;

	& svg {
		width: 20px;
		height: 20px;
		fill: transparent;
		stroke: #333;

		&:hover {
			opacity: 0.7;
		}
	}
}

.img {
	display: block;
	width: 200px;
	height: 200px;
	background-color: var(--bg-color-card);
	object-fit: cover;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	margin-top: 20px;
}

.title {
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
