.button {
	color: var(--primary-color);
	padding: 6px 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	border-radius: 10px;

	&:hover {
		opacity: 0.6;
		fill-opacity: 70%;
		stroke-opacity: 70%;
	}
}

.button svg {
	height: 22px;
	width: 22px;
}

.clear,
.clearInverted {
	background: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

.clearInverted {
	color: var(--inverted-primary-color);
}

.outline {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: none;
}

.outlineRed {
	border: 1px solid var(--red-light);
	color: var(--red-light);
	background: none;
}

.background {
	background: var(--bg-color);
	color: var(--primary-color);
	border: none;
}

.backgroundInverted {
	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
	border: none;
}

.square {
	padding: 0;
}

.square.size_m {
	width: var(--font-line-m);
	height: var(--font-line-m);
}

.square.size_l {
	width: var(--font-line-l);
	height: var(--font-line-l);
}

.square.size_xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
}

.size_m {
	font: var(--font-m);
}

.size_l {
	font: var(--font-l);
}

.size_xl {
	font: var(--font-xl);
}

.disabled {
	opacity: 0.4;
}
