.inputWrapper {
	display: flex;
}

.placeholder {
	margin-right: 5px;
}

.input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 5px 8px;
	outline: none;
	width: 100%;
	color: #fff;
	font-size: 22px;

	&::placeholder {
		color: #edecec;
	}
}

.readonly {
	opacity: 0.7;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}
