.createProductPage {
	position: relative;
	display: flex;
	color: #fff;
	background-color: var(--bg-color-card);
	gap: 25px;
	min-height: 400px;
	border-radius: 10px;
}

.imageWrapper {
	align-self: center;
}

.image {
	object-fit: cover;
	display: block;
	height: 400px;
	width: 400px;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	padding: 27px 10px;
	gap: 20px;
	max-width: 420px;
	max-height: 400px;
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 10px;
	min-width: 80px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 350px;
}

.createBtn {
	color: #fff;
	border: 2px solid #fff;
}
