.productsList {
	display: grid;
	grid-template-columns: repeat(3, 230px);
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	min-height: 70vh;
	margin-bottom: 30px;
}

.title {
	justify-self: center;
	align-self: center;
	grid-column: 1/-1;
}
