.loadingWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.detailsProductItem {
	position: relative;
	display: flex;
	background-color: rgb(180, 186, 191);
	gap: 25px;
	min-height: 400px;
	border-radius: 10px;
}

.imageWrapper {
	align-self: center;
}

.image {
	object-fit: cover;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	gap: 20px;
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 10px;
	min-width: 80px;
}

.title {
	font-family: var(--font-l);
	font-size: 30px;
}

.price {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 16px;
}

.description {
	max-width: 400px;
}
