.loadingWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.detailsProductItem {
	display: grid;
	grid-template-columns: auto 1fr auto;
	color: #fff;
	background-color: var(--bg-color-card-details);
	gap: 25px;
	min-height: 400px;
	border-radius: 10px;
	padding: 24px 16px;
}

.imageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
}

.image {
	object-fit: cover;
	height: auto;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.button {
	top: 20px;
	right: 20px;
	border-radius: 10px;
	min-width: 80px;
}

.title {
	font-family: var(--font-l);
	font-size: 30px;
}

.price {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 16px;
}

.description {
	max-width: 400px;
}

.errorInfo {
	margin: 0 auto;
	align-self: center;
}

.error {
	font-size: 30px;
}
